{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav  class=" bg-white/50 dark:bg-gray-900/70 w-[90%] md:w-fit h-fit md:h-fit md:bg-white/50 md:dark:bg-gray-900/80 backdrop-blur-lg md:backdrop-blur-none px-4 md:px-2 py-4 mx-4 md:mx-0 rounded-xl">
  <ul id="navList"  class="flex flex-row lg:flex-col gap-6 sm:gap-4  overflow-x-auto md:overflow-x-visible overflow-visible md:overflow-visible overscroll-auto scrollbar-hide justify-start md:justify-between [&>*:nth-child(2)]:hidden   [&>*:nth-child(5)]:md:flex [&>*:nth-child(6)]:sm:flex [&>*:nth-child(7)]:sm:flex [&>*:nth-child(8)]:hidden ">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}
{{- $attrs := dict "href" .URL }}
{{- if $page.IsMenuCurrent .Menu . }}
{{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
{{- else if $page.HasMenuCurrent .Menu .}}
{{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
{{- end }}
{{- $isActive := in ($attrs.class | default "") "active" }}
{{- $isAncestor := in ($attrs.class | default "") "ancestor" }}

{{- $name := .Name }}
{{- with .Identifier }}
{{- with T . }}
{{- $name = . }}
{{- end }}
{{- end }}
<li class="group relative w-fit h-fit overflow-visible">

  <a class="p-2 md:p-3 flex flex-row md:flex-col justify-center items-center hover:shadow  hover:bg-gray-300 hover:dark:bg-gray-950/50 {{ if or $isActive $isAncestor }}bg-conime-400 dark:bg-conime-500{{ else }}bg-white/0  dark:bg-gray-950/0{{ end }} backdrop-blur-sm   transition duration-500 ease-in-out rounded-xl" {{- with .Identifier }} id="{{ . }}" {{- end }}
    
    {{- range $k, $v :=$attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}>
    <span class="block group-hover:text-conime-400  group dark:group-hover:text-conime-500 group-hover:scale-110  transition duration-500 ease-in-out {{ if or $isActive $isAncestor }}text-white dark:text-white{{ else }}text-gray-700 dark:text-gray-400{{ end }}">
    {{ with .Params.svg }}
    {{ . | safeHTML }}
    {{ end }}
    </span>
 <span
    class="absolute left-1/2 hidden md:flex z-50 -translate-x-1/2 md:top-1/2 md:-translate-y-1/2 h-fit min-w-20 w-fit bottom-12 md:bottom-0  md:left-[90px] p-2 text-xs bg-gray-200 dark:bg-gray-950/50 backdrop-blur-sm  text-gray-700 dark:text-gray-400 justify-center items-center opacity-0 group-hover:opacity-100 transition delay-500 duration-1000 ease-in-out  shadow-xl shadow-gray-950/10 lg:shadow-gray-950/20    rounded-lg ">{{
    $name }}</span>
  </a>
 
  {{- with .Children }}
  <ul>
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
  {{- end }}
</li>
{{- end }}
{{- end }}