{{ $currentPage := .Page }}

{{ $categories := slice }}
{{ with $currentPage.Params.categories }}
  {{ $categories = . }}
{{ end }}

{{ $tags := slice }}
{{ with $currentPage.Params.tags }}
  {{ $tags = . }}
{{ end }}

{{ $relatedByCat := slice }}
{{ $relatedByTag := slice }}

{{ if gt (len $categories) 0 }}
  {{ $relatedByCat = where site.RegularPages "Params.categories" "intersect" $categories }}
{{ end }}

{{ if gt (len $tags) 0 }}
  {{ $relatedByTag = where site.RegularPages "Params.tags" "intersect" $tags }}
{{ end }}

{{ $relatedCombined := union $relatedByCat $relatedByTag | uniq }}
{{ $relatedFiltered := where $relatedCombined "RelPermalink" "ne" $currentPage.RelPermalink }}

{{ if gt (len $relatedFiltered) 0 }}
  <div class="border-l-4 border-conime-400 p-3 my-4 bg-gray-100 dark:bg-gray-900/30 md:dark:bg-gray-950/50 backdrop-blur-sm ">
    <p class="font-medium text-sm">Also read:</p>
    {{ range first 1 $relatedFiltered }}
      <a href="{{ .RelPermalink }}" class="text-conime-400 font-medium dark:font-medium hover:underline">
        {{ .Title }}
      </a>
    {{ end }}
  </div>
{{ end }}
