{{ define "main" }}
<section class="flex flex-col items-center justify-center text-center min-h-screen px-6 py-20">
  <div class="max-w-xl">
     <img src="/images/404.png" alt="">
    <h1 class="text-[5rem] font-bold text-conime-500 leading-none mb-4">404</h1>
    <p class="text-xl text-gray-700 dark:text-gray-400 mb-6">
      Halaman yang kamu cari tidak ditemukan atau sudah dipindahkan.
    </p>
   
    <a href="/" class="btn is-blue is-rounded btn-animation is-large group inline-flex items-center gap-2">
      <span class="material-symbols-rounded">arrow_back</span>
      <span>Kembali ke Beranda</span>
    </a>
  </div>
</section>
{{ end }}
