{{ define "main" }}


<div class="container mx-auto px-2 sm:px-4 py-8 md:py-0 grid grid-cols-1 lg:grid-cols-12 gap-8">
    <div class="col-span-12">
        <h2 class="justify-center items-center w-full text-lg font-medium border-b uppercase border-gray-300 dark:border-gray-800/50 pb-2 mb-4 flex md:hidden">
         {{ .Title }}
        </h2>
        <div class="w-full  overflow-hidden absolute left-1/2 -translate-x-1/2 pl-0 pr-0 sm:pl-20 sm:pr-4">
            <figure class="w-full overflow-hidden bg-gray-50  dark:bg-gray-900/30 backdrop-blur-sm rounded-b"> 
                {{ if .Params.image }}
                <div class="h-52 w-full bg-cover bg-center   flex justify-center items-center overflow-hidden">

                    <img src=" {{ .Params.image }}" alt="gambar {{ .Title }}" class="object-cover w-full h-full" />
                </div>
                {{ end }}
                {{ if .Content }}
                <div class="w-full h-fit relative px-3 py-3 md:px-16 md:py-4">
                    <div class="w-full h-fit leading-8 ">
                        {{ .Content }}</div>
                </div>
                {{ end }}
            </figure>
        </div> 
    </div>

    <main class="col-span-12 lg:col-span-8 relative z-10 {{ if eq .Section "posts" }}mt-96 lg:mt-72{{ end }} ">
        <h2 class=" text-lg font-medium border-b uppercase border-gray-300 dark:border-gray-800/50 pb-2 mb-4 hidden{{ if in .Permalink "/categories/" }}flex{{ end }}">
        Category: {{ .Title }}
        </h2>
        <h2 class="text-lg font-medium border-b uppercase  border-gray-300  dark:border-gray-800/50  pb-2 mb-4 hidden{{ if in .Permalink "/tags/" }}flex{{ end }}">
            Tags: #{{ .Title }}
        </h2>
       
        <ul
            class="grid grid-cols-1   sm:grid-cols-2 lg:grid-cols-3 sm:[&>*:nth-child(1)]:col-span-2 sm:[&>*:nth-child(7)]:col-span-2 sm:[&>*:nth-child(11)]:col-span-2 sm:[&>*:nth-child(17)]:col-span-2 sm:[&>*:nth-child(21)]:col-span-2 gap-2 sm:gap-3">

            {{ range .Pages }}
            <li
                class="relative flex flex-col  gap-y-2 bg-white  w-full h-full dark:bg-gray-900/20 border border-gray-300 dark:border-gray-800/50 backdrop-blur-sm overflow-hidden rounded shadow-none md:shadow-xl  shadow-gray-900/10 hover:shadow-gray-900/20  dark:shadow-gray-900/10 transition duration-300 ease-in-out  ">
                <a href="{{ .RelPermalink }}" class=" bg-cover w-full h-72  md:h-60 overflow-hidden ">
                    {{ with .Params.image }}
                    <img loading="lazy"  src="{{ . }}" alt="gambar {{ $.Title }}"
                        class="w-full h-full object-cover rounded-t    brightness-75  hover:brightness-100 transition  duration-300    ease-in-out" />
                    {{ else }}
                    {{ end }}

                </a>
                <div class="p-2">
                    
          <h3 class="mb-1 line-clamp-2 h-[50px] font-medium dark:font-normal"> 
          <a href="{{ .RelPermalink }}" class="hover:underline block">
            {{ .Title }}
            </a>
          </h3>
                    <p class="text-gray-700 font-light dark:text-gray-600 line-clamp-3 mb-2"> {{ .Summary }}</p>
                    <p class="text-sm text-gray-600 dark:text-gray-700 line-clamp-1">
                      {{ partial "author.html" . }} | {{ partial "date2.html" . }}
                    </p>
                </div>
            </li>
 
            {{ end }}
        </ul>
    </main>

    <!-- Sidebar -->
    <aside class="col-span-12 lg:col-span-4 relative space-y-6 {{ if eq .Section "posts" }}mt-0 md:mt-72{{ end }}">


<!-- Berita Populer -->
{{ partial "popular.html" . }}

<!-- SUGGESTED ARTICLES -->
{{ partial "suggested.html" . }}

<!-- Kategori -->
{{ partial "categories.html" . }}

<!-- Newsletter -->
{{ partial "newsletter.html" . }} 

    </aside>

</div>
{{ end }}