{{ with . }}
<div id="notifModal"
  class="fixed left-[15%] bottom-4 z-50 bg-white dark:bg-gray-900 text-gray-800 dark:text-white p-6 rounded-2xl w-[320px] md:w-[440px] shadow-none md:shadow-xl shadow-gray-950/50 lg:shadow-gray-950/20">
  <div
    class="w-fit h-fit closeModal group absolute right-4 top-4 p-0 flex gap-x-2 justify-center items-center shadow-none md:shadow-xl shadow-gray-950/10 lg:shadow-gray-950/20 bg-gray-100 hover:bg-gray-300 dark:bg-gray-950/20 hover:dark:bg-gray-900 rounded-full">
    <svg class="w-10 h-10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.16998 14.83L14.83 9.17004" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M14.83 14.83L9.16998 9.17004" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
  <div class="flex pr-12 justify-between items-center mb-4">
    <h3 class="text-md font-medium">Notification</h3>
    <div class="flex gap-3 justify-center items-center">
      <span class="text-sm" id="notifToggleText">Mark all as read</span>
      <div id="notifToggle"
        class="w-12 h-6 bg-gray-300 dark:bg-gray-950/30 z-10 rounded-full flex justify-start items-center cursor-pointer">
        <div class="w-6 h-6 rounded-full bg-gray-500 dark:bg-gray-800 transition-all duration-300"></div>
      </div>
    </div>
  </div>

  <div id="notifList"
    class="flex flex-col text-gray-800 dark:text-gray-300 justify-start md:justify-between items-center gap-4 md:gap-3 overflow-x-auto overscroll-auto scrollbar-hide px-2 my-6">
    <!-- Item notifikasi akan di-generate lewat JavaScript -->
  </div>

  <a href="/notifications"
    class="text-sm text-blue-500 underline text-center w-full block mt-2 hover:opacity-80 transition">
    See all notifications
  </a>
</div>

{{ end }}
