{{ with . }}
<div id="notifModal"
  class="fixed hidden left-[15%] bottom-[50%] z-50 bg-white dark:bg-gray-900 text-gray-800 dark:text-white p-6 rounded-2xl w-[320px] md:w-[440px] shadow-none md:shadow-xl shadow-gray-950/50 lg:shadow-gray-950/20">
  <div
    class="w-fit h-fit closeModal group absolute right-4 top-4 p-0 flex gap-x-2 justify-center items-center shadow-none md:shadow-xl shadow-gray-950/10 lg:shadow-gray-950/20 bg-gray-100 hover:bg-gray-300 dark:bg-gray-950/20 hover:dark:bg-gray-900 rounded-full">
    <svg class="w-10 h-10" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.16998 14.83L14.83 9.17004" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
      <path d="M14.83 14.83L9.16998 9.17004" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
<div class="flex pr-12 justify-between items-center  mb-4">
  <h3 class="text-md font-medium">Notification</h3><div class="flex gap-3 justify-center items-center"> <span class="text-sm">Mark all as read</span>
  <div class="w-12 h-6 bg-gray-300 dark:bg-gray-950/30 z-10 rounded-full flex justify-start items-center">
    <div class="w-6 h-6 rounded-full bg-gray-500 dark:bg-gray-800"></div>
  </div></div>
  </div>

  <div
    class="flex flex-col  text-gray-800 dark:text-gray-300 justify-start md:justify-between items-center gap-4 md:gap-3 overflow-x-auto overscroll-auto scrollbar-hide px-2 my-6">
    <div class="bg-gray-100 dark:bg-gray-950/20 rounded p-3 text-gray-800 dark:text-gray-300">
      <div class="relative">
        <h2 class="w-[90%] line-clamp-2">Review Zenshuu: Perjalanan Natsuko dalam Dunia Animasi, Takdir, dan Cinta
          Pertama </h2>
        <div class="absolute top-0 right-0 badge">
          <!-- Ini badge mark as read-->
          <div class="flex relative justify-center items-center">
            <div class="w-3 h-3 opacity-50 rounded-full bg-conime-500 dark:bg-conime-600"></div>
            <div class="w-2 h-2 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 rounded-full bg-conime-500 dark:bg-conime-600">
            </div> 
            </div>
        </div> <span class="pr-4 absolute right-0 -top-1 group">
          <span class=" p-2 rounded opacity-0 group-hover:opacity-100 bg-white dark:bg-gray-950 z-10 h-fit w-fit lg:w-fit text-sm justify-center items-start lg:items-center transition duration-1000 ease-in-out ">Mark as read</span>
        </span>
               
     
      </div>
      <p class="w-full text-right [&>time]:text-sm">{{ partial "timeago.html" . }}</p>
    </div>
    <div class="bg-gray-100 dark:bg-gray-950/20 rounded p-3 text-gray-600 dark:text-gray-600">
      <div class="relative">
        <h2 class="w-[90%] line-clamp-2">Review Zenshuu: Perjalanan Natsuko dalam Dunia Animasi, Takdir, dan Cinta
          Pertama </h2>
        <div class="absolute top-0 right-0 badge">
          <!-- Ini badge mark as read-->
          <div class="flex relative justify-center items-center">
            <div class="w-3 h-3 opacity-50 rounded-full bg-gray-600 dark:bg-gray-800"></div>
            <div class="w-2 h-2 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 rounded-full bg-gray-600 dark:bg-gray-800">
            </div> 
            </div>
        </div> <span class="pr-4 absolute right-0 -top-1 group">
          <span class=" p-2 rounded opacity-0 group-hover:opacity-100 bg-gray-300 dark:bg-gray-950 z-10 h-fit w-fit lg:w-fit text-sm justify-center items-start lg:items-center transition duration-1000 ease-in-out ">Mark as unread</span>
        </span>
               
     
      </div>
      <p class="w-full text-right [&>time]:text-sm">{{ partial "timeago.html" . }}</p>
    </div>

  </div>


</div>
{{ end }}