{{ with . }}


<div class="rounded">
            <h2 class="text-xl uppercase  font-medium border-b  border-gray-300  dark:border-gray-800/50  pb-2 mb-4">News
                Subscription</h2>
            <div
                class="flex flex-col gap-4 p-2 text-gray-300  bg-white dark:bg-gray-900/30 md:dark:bg-gray-950/50 backdrop-blur-sm rounded overflow-hidden">
                <input id="inputSubs" type="email" placeholder="Your email"
                    class="bg-gray-300 dark:bg-gray-900/30  placeholder:text-gray-700 placeholder:dark:text-gray-300 text-gray-900  dark:text-white px-3 py-2 w-full rounded outline-none " />
                <button id="letSubs" onclick="subs()" class="bg-conime-400 rounded text-white hover:bg-conime-600 dark:hover:bg-conime-300  py-2 w-full">
                    Subscribe
                </button>
            </div>
</div>

{{ end }}
