{{ with . }}


{{ $recommended := where .Site.RegularPages "Params.tags" "intersect" (slice "Recommended") }}
{{ $sorted := sort $recommended "Date" "desc" }}
{{ $subset := first 4 (after 1 $sorted) }} <!-- Index 1 sampai 3 -->

{{ if gt (len $subset) 0 }}
<section class="col-span-12 w-full lg:col-span-4 space-y-6 px-0 md:px-0">
  <div>
    <h2 class="text-xl uppercase font-medium border-b border-gray-300 dark:border-gray-800/50 pb-2 mb-4">
      Suggested Articles
    </h2>

    <ul class="flex flex-col gap-4 md:gap-3">
      {{ range $subset }}
      <li class="group bg-white dark:bg-gray-900/20 border border-gray-300 dark:border-gray-800/50 backdrop-blur-sm rounded shadow-hone hover:shadow-xl transition overflow-hidden">
        <a href="{{ .RelPermalink }}" class="block overflow-hidden">
          {{ with .Params.image }}
          <img loading="lazy" src="{{ . }}" alt="Gambar {{ $.Title }}" class="w-full h-52 object-cover brightness-75 group-hover:brightness-100 transition" />
          {{ end }}
        </a>

        <div class="p-3">
          <div class="flex flex-wrap gap-2 text-sm mb-1">
            {{ range .Params.categories }}
            <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}" class="text-conime-400 hover:underline">
              {{ . }}
            </a>
            {{ end }}
          </div>

          <h3 class="mb-1 line-clamp-2 h-[50px] font-medium dark:font-normal"> 
        <a href="{{ .RelPermalink }}" class="hover:underline block">
            {{ .Title }}
          </a>
        </h3>

          <p class="text-sm line-clamp-1 text-gray-600 dark:text-gray-700 ">
            {{ partial "author.html" . }} | {{ partial "date2.html" . }}
          </p>
        </div>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}

{{ end }}
