<div class="hidden">
  <!-- Warna badge dan background notifikasi -->
  <div class="bg-conime-500 dark:bg-conime-500 bg-conime-600 dark:bg-conime-600 bg-conime-400 dark:bg-conime-400 bg-conime-300 dark:bg-conime-300"></div>
  <div class="bg-gray-600 dark:bg-gray-600 bg-gray-700 dark:bg-gray-700 bg-gray-500 dark:bg-gray-500 bg-gray-800 dark:bg-gray-800 bg-gray-200 dark:bg-gray-200 bg-gray-100 dark:bg-gray-100"></div>

  <!-- Opacity transisi dan efek klik -->
  <div class="opacity-0 opacity-50 opacity-75 opacity-80 opacity-100 dark:opacity-50"></div>

  <!-- Transformasi dan transisi modal -->
  <div class="scale-95 scale-100 translate-y-6 translate-y-0 translate-x-[85%] -translate-x-[85%]"></div>

  <!-- Warna teks dan elemen dark -->
  <div class="text-gray-900 dark:text-white text-sm text-xs text-xl text-2xl"></div>
  <div class="bg-white dark:bg-gray-950 dark:bg-gray-900"></div>

  <!-- Flex, hidden, dan lainnya -->
  <div class="hidden flex block group-hover:opacity-100 group-hover:z-10 transition ease-in-out duration-500"></div>
  <div class="hover:bg-gray-200 dark:hover:bg-gray-800 hover:bg-gray-600 hover:dark:bg-gray-800 hover:bg-conime-600 dark:hover:bg-conime-300"></div>

  <!-- Border dan input error -->
  <div class="border border-red-500"></div>
  <div class="cursor-not-allowed overflow-y-auto overflow-style-custom-y md:overflow-y-auto md:overflow-style-custom-y"></div>

  <!-- Class slide active -->
  <div class="active "></div>

  <!-- Layout dan ukuran -->
  <div class="w-3 h-3 w-2 h-2 w-full h-full w-[80%] w-fit h-fit w-[300px] h-[300px] bg-gray-100 dark:bg-gray-800/20 hover:bg-gray-200 dark:hover:bg-gray-800"></div>
  <div class="left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 inset-0 px-4 pb-2 mb-4"></div>

  <!-- Text utils -->
  <div class="line-clamp-2 line-clamp-3 line-clamp-1 font-light font-extralight font-semibold font-bold font-medium uppercase break-words"></div>
</div>
<div class="bg-gray-900 dark:bg-gray-900"></div>
