{{ $page := .page }}
{{ $i := .index }}

<div
    class="relative flex flex-col w-full h-[360px] p-[2px] rounded-3xl overflow-hidden z-10 shadow-lg shadow-gray-700/20 dark:shadow-gray-950/20">
    <div
        class="absolute inset-0 bg-gradient-to-br hidden from-conime-400 via-white to-conime-400 dark:from-conime-500 dark:via-gray-900 dark:to-conime-500 animate-spin delay-500 transition ease-in-out !duration-[10000s] z-0">
    </div>
    <div class="label-new hidden opacity-0 w-fit h-fit transition duration-300 ease-in-out absolute left-0 top-0 z-20"
        data-url="{{ $page.RelPermalink }}">
        <div
            class="absolute tracking-[.6em] lg:tracking-[.5em] -left-20 top-4 shadow-xl shadow-gray-950/20 dark:shadow-gray-950/30 w-60 bg-conime-500 dark:bg-conime-500 text-white p-2 text-xl uppercase font-light flex items-center justify-center z-20 -rotate-45">
            New</div>
    </div>
    <div class="fire-new hidden opacity-0 absolute transition duration-300 ease-in-out right-4 top-4 z-20 bg-gray-950 dark:bg-gray-950 rounded-xl w-fit h-fit p-2"
        data-url="{{ $page.RelPermalink }}">
        <div class="flex items-center justify-center relative" data-tippy-content="New">
            <!-- SVG -->
            ...
        </div>
    </div>

    <!-- Bagian gambar -->
    <a data-aos="fade-up" data-aos-delay="{{ mul $i 150 }}" data-aos-duration="2000"  href="{{ $page.RelPermalink }}" class="w-full h-[45%] rounded-xl z-10 overflow-hidden bg-cover">
        {{ $img := $page.Params.image | default "/images/default.png" }}
        <div class="w-full h-full">
            <img loading="lazy" src="{{ $img }}" alt="Gambar {{ $page.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
        </div>
    </a>

    <!-- Bagian teks -->
    <div
        class="w-full h-[55%] z-10 font-light dark:font-extralight flex flex-col items-start justify-start gap-2 p-4 bg-white hover:bg-gray-300 dark:bg-gray-950 hover:dark:bg-gray-900">

        <h2 data-aos="fade-up" data-aos-delay="{{ mul $i 150 }}" data-aos-duration="2000" class="w-full h-fit line-clamp-3">
            <a href="{{ $page.RelPermalink }}" class="hover:underline break-words h-50 text-2xl"
                data-tippy-content="{{ $page.Title }}">{{ $page.Title }}</a>
        </h2>

        <h2 data-aos="fade-up" data-aos-delay="{{ mul $i 160 }}" data-aos-duration="2000" class="flex flex-wrap justify-between gap-4 text-sm line-clamp-1 uppercase">
            {{ range $page.Params.categories }}
            <a href="{{ " categories/" | relLangURL }}{{ . | urlize }}" class="hover:underline">
                {{ . }}
            </a>
            {{ end }}
        </h2>

        <p data-aos="fade-up" data-aos-delay="{{ mul $i 170 }}" data-aos-duration="2000" class="absolute w-full bottom-4 pr-4 left-0 text-right justify-end z-10 text-xl h-fit flex gap-0">
            <span>—</span>{{ partial "timeago.html" $page }}
        </p>
    </div>
</div>
