{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
<nav
  class="w-full h-full overflow-y-auto overflow-x-hidden overflow-style-y px-0 lg:px-2 py-2 lg:py-0 mx-4 lg:mx-0 rounded-xl">
  <ul id="navList"
    class="flex flex-row lg:flex-col gap-1 lg:gap-[2px] h-full justify-between lg:justify-evenly items-center lg:items-center [&>*:nth-child(2)]:hidden [&>*:nth-child(5)]:lg:flex [&>*:nth-child(6)]:lg:flex [&>*:nth-child(7)]:lg:flex [&>*:nth-child(8)]: [&>*:nth-child(9)]:hidden">
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
</nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
{{- $page := .page }}
{{- range .menuEntries }}
{{- $attrs := dict "href" .URL }}
{{- if $page.IsMenuCurrent .Menu . }}
{{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
{{- else if $page.HasMenuCurrent .Menu .}}
{{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
{{- end }}
{{- $isActive := in ($attrs.class | default "") "active" }}
{{- $isAncestor := in ($attrs.class | default "") "ancestor" }}

{{- $name := .Name }}
{{- with .Identifier }}
{{- with T . }}
{{- $name = . }}
{{- end }}
{{- end }}
<li class="
  group pointer-events-auto min-w-12 w-full h-full flex justify-center items-center
  {{ if eq .Identifier "notifBtn" }}
  fixed bottom-20 right-2
  !w-12 !h-12 !rounded-full
  !bg-white dark:!bg-gray-800

  lg:relative
  lg:bottom-auto
  lg:right-auto
  lg:!w-full
  lg:!h-fit
  lg:!rounded-none
  lg:!bg-white/0 lg:dark:!bg-gray-950/0
{{ else }}
  relative
{{ end }}

">
<a class="px-2 py-1 lg:px-3 sm:py-3 h-full lg:h-fit flex flex-col lg:flex-row gap-0 lg:gap-4 w-full justify-center {{ if eq .Identifier "notifBtn" }}!backdrop-blur-none !rounded-full lg:!backdrop-blur-sm lg:!rounded-xl{{ end }} lg:justify-start items-center hover:shadow hover:bg-gray-300 hover:dark:bg-gray-800/50 {{ if or $isActive $isAncestor }}bg-conime-500 dark:bg-conime-500 group-hover:bg-conime-500 group-hover:dark:bg-conime-500 text-white dark:text-white group-hover:text-white group-hover:dark:text-white{{ else }}bg-white/0 dark:bg-gray-950/0 text-gray-700 dark:text-gray-400  group-hover:text-conime-400  dark:group-hover:text-conime-500{{ end }} backdrop-blur-sm   transition duration-500 ease-in-out rounded-xl"
    {{- with .Identifier }} id="{{ . }}" {{- end }} {{- range $k, $v :=$attrs }} {{- with $v }} {{- printf " %s=%q" $k
    $v | safeHTMLAttr }} {{- end }} {{- end -}}>
    <span class="block h-fit py-1 group-hover:scale-110 transition duration-500 ease-in-out">
      {{ with .Params.svg }}
      {{ . | safeHTML }}
      {{ end }}
    </span>
    <span
      class="{{ if eq .Identifier "notifBtn" }}hidden lg:flex{{ else }} flex {{ end }} h-fit w-fit lg:w-auto text-[.6rem] lg:text-base justify-center items-start lg:items-center transition duration-1000 ease-in-out ">{{
      $name }}</span>
    {{ if eq .Identifier "notifBtn" }}
    <div id="notifBadge" class="absolute hidden top-4 left-[22px]">
      <div class="flex justify-center items-center">
        <div class="w-3 h-3 opacity-0 animate-pulse rounded-full bg-conime-500 dark:bg-conime-600"></div>
        <div
          class="w-[10px] h-[10px] absolute opacity-0 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 animate-pulse rounded-full bg-conime-500 dark:bg-conime-600">
        </div>
        <div
          class="w-2 h-2 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 animate-pulse rounded-full bg-conime-500 dark:bg-conime-600">
        </div>
      </div>
    </div>
    {{ end }}
  </a>

  {{- with .Children }}
  <ul>
    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </ul>
  {{- end }}
</li>
{{- end }}
{{- end }}