{{ with . }}
<div id="notifModal"
  class="fixed left-1/2 -translate-x-1/2 md:!left-[16%] lg:!left-[21%] xl:!left-[16%] md:!transform md:translate-x-0 bottom-32 md:bottom-4 z-50 bg-white dark:bg-gray-900 text-gray-800 dark:text-white  border border-gray-300 dark:border-gray-800/50 p-6 rounded-2xl w-[320px] md:w-[440px] shadow-none md:shadow-xl shadow-gray-950/50 lg:shadow-gray-950/20 hidden transform transition-all duration-300 ease-in-out scale-95 opacity-0 translate-y-6">
  <div
    class="w-fit h-fit closeModal group absolute right-4 top-4 p-0 flex gap-x-2 justify-center items-center bg-gray-100 hover:bg-gray-300 dark:bg-gray-800/0 hover:dark:bg-gray-800/50 rounded-full">
    <svg class="w-10 h-10" viewBox="0 0 24 24" fill="none">
      <path d="M9.17 14.83L14.83 9.17M14.83 14.83L9.17 9.17" stroke="currentColor" stroke-width="1.5"
        stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>

  <div class="flex pr-12 justify-between items-center mb-4">
    <h3 class="text-md font-medium">Notification</h3>
   <div class="flex gap-3 items-center cursor-pointer mark-all-read">
  <span id="textMark" class="text-sm hidden md:inline" >Mark all as read</span>
  <div id="toggleTrack" class="w-12 h-6 bg-gray-300 dark:bg-gray-950/30 z-10 rounded-full flex items-center justify-center px-1  transition-all duration-500 easy-in-out">
    <div id="toggleBall" class="w-4 mx-1 h-4 -translate-x-[85%] rounded-full bg-conime-500 dark:bg-conime-500 transition duration-300 easy-in-out"></div>
  </div>
</div>

  </div>

  <div class="notif-container flex flex-col gap-4 overflow-y-auto overflow-style-custom-y max-h-[300px] px-2 my-6">
    <!-- Notifikasi akan dimasukkan lewat JS -->
  </div>
</div>
{{ end }}
