{{ define "main" }}
<div class="relative rounded-xl mx-auto py-4 grid grid-cols-1  lg:grid-cols-12 gap-4">
  <!-- Artikel Utama -->

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date.Format "Mon, 02 Jan 2006 — 03:04 PM" }}

  <main class="col-span-12 lg:col-span-8 w-full">
    <article class="prose lg:prose-xl max-w-none w-full">
      <h1 class="font-medium text-3xl mb-2 md:mb-0 post-title">{{ .Title }}</h1>
      {{ $path := .RelPermalink }}
      {{ if not (in (slice "/about-us/" "/contact/" "/privacy-policy/" "/terms-of-service/" "/disclaimer/") $path)
      }}
      <div
        class="text-lg flex flex-row items-end justify-between font-light dark:font-extralight  text-gray-700 dark:text-gray-600 mb-4">

        <div class="flex w-fit flex-col justify-start items-start">
          <label class="flex flex-row text-sm items-center ">
            <h2 class="flex justify-between gap-4 flex-1 line-clamp-1 uppercase">
              {{ range .Params.categories }}
              <a href="{{ " categories/" | relLangURL }}{{ . | urlize }}"
                class="hover:underline  hover:text-conime-400 dark:hover:text-conime-500">
                {{ . }}
              </a>
              {{ end }}
            </h2>
          </label>
          <div class="flex flex-row w-full mx-0 text-sm px-0 gap-2 justify-between items-center">
            <span class="flex flex-row justify-center items-center gap-2">
              <span>{{ partial "author.html" . }}</span>
              <span class="hidden md:inline-block">|</span>
              {{ partial "date.html" . }}
            </span>
          </div>

        </div>
        <!-- Tombol untuk membuka modal -->
        {{ $path := .RelPermalink }}
        {{ if not (in (slice "/about-us/" "/contact/" "/privacy-policy/" "/terms-of-service/" "/disclaimer/") $path)
        }}
        <div class="flex gap-2 except justify-end items-center">
          {{ partial "share-btn.html" . }}
        </div>
        {{ end }}
      </div> {{ end }}


      {{ $path := .RelPermalink }}
      {{ if not (in (slice "/about-us/" "/contact/" "/privacy-policy/" "/terms-of-service/" "/disclaimer/") $path) }}
      <!-- Gambar Utama -->
      {{ with .Params.image }}
      <figure class="w-full flex flex-col mb-4 bg-gray-100 dark:bg-gray-950/20 backdrop-blur-sm rounded-3xl">
        <img src="{{ . | relURL }}" alt="Gambar {{ $.Title }}"
          class="post-img h-96 sm:h-auto w-full rounded-t-3xl object-cover" />

        <figcaption class="text-sm font-light dark:font-extralight text-left italic flex flex-wrap gap-2 px-4 py-4">
          {{ with $.Params.imageSources }}
          <span>
            Image:
            {{ $total := len . }}
            {{ range $index, $source := . }}
            {{ if gt $index 0 }}, {{ end }}
            <a href="{{ $source.url }}" class="underline hover:text-conime-400 hover:dark:text-conime-500 inline"
              target="_blank" rel="noopener noreferrer">{{ $source.name }}</a>
            {{ end }}
            {{ with (index . 0).studio }}
            Image © {{ . }}. Used for editorial purposes only.
            {{ else }}. Used for editorial purposes only.
            {{ end }}
            {{ else }}
            Image used for illustration purposes only.</span>
          {{ end }}

        </figcaption>
      </figure>
      {{ end }}
      {{ end }}




      <div class="flex flex-col">
        <div class="content-article leading-8 font-normal dark:font-light
       [&>p]:text-justify [&>ul]:list-disc [&>ul]:ml-8 [&>h3]:uppercase [&>h3]:tracking-wide [&>p]:[text-indent:2em] [&>h3]:my-3
       border-b border-gray-300 dark:border-gray-800/50 pb-4 mb-6">
          {{ .Content }}
        </div>
      </div>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}


      {{ if not (strings.HasPrefix .Site.BaseURL "https://conime2025.github.io/") }}
      {{ partial "slug-warning.html" . }}
      {{ end }}


      <!-- Artikel panjang lainnya -->
      <!-- Tombol untuk membuka modal -->
      {{ $path := .RelPermalink }}
      {{ if not (in (slice "/about-us/" "/contact/" "/privacy-policy/" "/terms-of-service/" "/disclaimer/") $path) }}

      <div class="w-full h-fit except    flex justify-end mt-2">
        <!-- Tombol untuk membuka modal -->
        <div class="flex gap-2 justify-end items-center">
          {{ partial "share-btn.html" . }}
        </div>
      </div>
      {{ end }}
    </article>

    <!-- Bagian Bawah Artikel -->
    {{ $path := .RelPermalink }}
    {{ if not (in (slice "/about-us/" "/contact/" "/privacy-policy/" "/terms-of-service/" "/disclaimer/") $path) }}
    <section class="mt-4 md:mt-12 w-full border-t border-gray-300  dark:border-gray-800/50 pt-6">

      <!--Kolom Komentar-->
      {{ partial "comments.html" . }}

      <!-- Related Articles -->
      {{ partial "related-articles.html" . }}


      <!-- Modal -->
      {{ partial "share-modal.html" . }}
    </section>
    {{ end }}
  </main>

  <!-- Sidebar -->
  <aside class="col-span-12 w-full lg:col-span-4 space-y-8 py-6">
    <!-- Berita yang baru dilihat -->
    {{ partial "last-viewed.html" . }}
    <!-- Berita Populer -->
    {{ partial "popular.html" . }}
    <!-- SUGGESTED ARTICLES -->
    {{ partial "suggested.html" . }}
    <!-- Kategori -->
    {{ partial "categories.html" . }}
    <!-- Tags Popular -->
    {{ partial "popular-tags.html" . }}
    <!-- Newsletter -->
    {{ partial "newsletter.html" . }}
  </aside>
</div>
{{ end }}